@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- about section -->
<section class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 px-0">
                <div class="img-box">
                    <img src="~/images/about-1.jpg" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="detail-box">
                    <div class="heading_container">
                        <hr>
                        <h2>
                            關於我們
                        </h2>
                    </div>
                    <p>
                        小農資訊平台致力於分享來自土地的故事，透過真實的內容展示小農的努力與產地的純淨。我們相信，每一片田地與作物背後，都有值得被看見的價值與文化。透過平台，讓您了解在地農業的多樣性，並支持小農的初心與用心
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end about section -->
