@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <!-- fruit section -->
  <section class="fruit_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <hr>
        <h2>
            請選擇小農類別
        </h2>
      </div>
    </div>
    <div class="container-fluid">

        <div class="fruit_container">
            <div class="box">
                <img src="~/images/f-8.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Coffee
                    </h5>
                    <a href="/Farmers/FarmersIndex/Coffee">
                        Read More
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/images/f-5.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Mango
                    </h5>
                    <a href="/Farmers/FarmersIndex/Mango">
                        Read More
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/images/f-7.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Tea
                    </h5>
                    <a href="/Farmers/FarmersIndex/Tea">
                        Read More
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/images/f-9.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Milk
                    </h5>
                    <a href="/Farmers/FarmersIndex/Milk">
                        Read More
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/images/f-4.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Apple
                    </h5>
                    <a href="/Farmers/FarmersIndex/Apple">
                        Read More
                    </a>
                </div>
            </div>
            <div class="box">
                <img src="~/images/f-brand.jpg" alt="">
                <div class="link_box">
                    <h5>
                        Cacao
                    </h5>
                    <a href="/Farmers/FarmersIndex/Cacao">
                        Read More
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- end fruit section -->