
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="/css/testimonial.css" rel="stylesheet" />

<!-- client section -->
<section class="client_section layout_padding">
    <div class="container ">
        <div class="heading_container">
            <h2>
                優質小農推薦
            </h2>
            <hr>
        </div>
        <div id="carouselExample2Controls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="client_container layout_padding-top">
                        <div class="img-box">
                            <a href="/Farmers/FarmerDetail/1/1">
                                <img src="~/images/circular_image_1.png" alt="卓武山 咖啡農場">
                            </a>
                        </div>
                        <div class="detail-box">
                            <p class="custom-text">
                                <img src="~/images/left-quote.png" alt="">
                                <span class="custom-title">
                                    卓武山 咖啡農場
                                </span>
                                <img src="~/images/right-quote.png" alt="">
                                <br></br>
                                <span class="custom-paragraph">
                                    二十年前，因為家裡的茶園位於阿里山較低的海拔，
                                    <br></br>
                                    茶葉價格始終無法與海拔三千公尺以上的茶園相比，
                                    <br></br>
                                    因此許定耀與父親合力將全部的茶樹砍除，全改種咖啡……
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container layout_padding-top">
                        <div class="img-box">
                            <a href="/Farmers/FarmerDetail/1/2">
                                <img src="~/images/circular_image_2.png" alt="">
                            </a>
                        </div>
                        <div class="detail-box">
                            <p class="custom-text">
                                <img src="~/images/left-quote.png" alt="">
                                <span class="custom-title">
                                    郝策園
                                </span>
                                <img src="~/images/right-quote.png" alt="">
                                <br></br>
                                <span class="custom-paragraph">
                                    23歲那一年，有著咖啡王子稱號的方政倫，
                                    <br><br>
                                    決定從北部返鄉回阿里山上，協助家族事業的茶園及蘭花園。
                                    <br><br>
                                    但十幾年的北部生活，一時無法適應城鄉差距，讓他感到失去生活熱情及目標……
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="client_container layout_padding-top">
                        <div class="img-box">
                            <a href="/Farmers/FarmerDetail/2/5">
                                <img src="~/images/circular_image_3.png" alt="">
                            </a>
                        </div>
                        <div class="detail-box">
                            <p class="custom-text">
                                <img src="~/images/left-quote.png" alt="">
                                <span class="custom-title">
                                    太陽農場
                                </span>
                                <img src="~/images/right-quote.png" alt="">
                                <br><br>
                                <span class="custom-paragraph">
                                    太陽農場，位於自然美景之中，擁有豐富的土地與純粹的農產品。
                                    <br><br>
                                    我們專注於可持續農業，提供新鮮、無污染的農產品，讓每一位顧客品嚐到大自然的真實味道。
                                    <br><br>
                                    在這片土地上，栽種的不僅是作物，更是對環境與健康的承諾。
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample2Controls" role="button" data-slide="prev">
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExample2Controls" role="button" data-slide="next">
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
</section>

<!-- end client section -->